*
{
  outline: 1px solid red !important;
}

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.container
{
  background-color:  #BCCCBB
}

body
{
  font-family: 'Lato', sans-serif;
  color: #747784;
  font-weight: 300;
}

.horule
{
  margin-top: 20px;
  margin-bottom: 20px;
  height: 4px;
  background-color: white;
}



.col-md-1
{
  width: 25%;
  float: left;
  text-align: center;
}

.link
{
  font-size: 22px;
}

.text-muted
{
	color: #BCBBBB;	
}

.title
{
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  color: white;
}
