/*
{
  outline: 1px solid red !important;
  box-sizing: border-box;
}
*/

{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html
{
  min-height: 100%;/*Was just height 100%, but changed to allow scrolling*/
  height: auto;
}

/*GET RID OF FLEX 1 IN CONTAINER-FLUID*/
.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  color: orange !important;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 99;
  padding-left: 0;
}

.sidebar
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1%;
  margin: 0;
  list-style: none;
  text-align: center;
  color: orange !important;
  background-color: transparent;
  position: fixed;
  top: 30%;
  bottom: 25%;
  padding-left: 23px;
  
  width: 0;
  height: 0;
  z-index: 99;
  font-size: 35px;
}

.name
{
  padding-left: 10px;
  display: flex;
  flex: 4;
  margin-top: -10px !important;
  font-family: 'Bilbo', cursive;
  font-family: 'Ruthie', cursive;
}

.name > h2
{
  font-size: 50px;
}

#logo
{
  padding-top: 2px;
  padding-left: 2px;
  width: 8%;
  height: 2%;
}

.navlinks
{
  flex: 1;
  margin-top: 8px;
}

.navlinks i
{
  width: 51px;
}

.navlinks a
{
  margin-right: 0px !important;
}

.navlinks > a > i
{
  display: inline-block;
  box-shadow: inset 0px 0px 10px 3px #111;
  border-radius: 30px;
  padding: .2em .2em;
}

.navlinks > a
{
  text-decoration: none;
  color: orange;
}

/*get rid of below*/
.navlinks a{
	border: 2px solid #909090;
	border-radius: 100%;
	margin-right: 7px; /*space between*/
    display: flex;
    align-items: flex-start;
    transition: all .75s;
    -webkit-transition: all .75s;
} 
.navlinks a i{
    align-self:center;
	color: orange;
    transition: all .75s;
    -webkit-transition: all .75s;
}

.navlinks a:hover{
  background: rgb(252, 255, 90);
 /* background: rgba(0,0,0,0.2);*/
 /* color: rgb(252, 255, 90) !important;*/
}

.navlinks a:hover i{
 /* color: rgb(252, 255, 90) !important;*/
  color: #3A3A3A;
}
/*get rid of above*/


.container-fluid
{
  position: fixed;/*container encompasses whole screen and everything can be centered*/
  overflow-y: scroll;
 /* overflow: hidden;/*hides scrollbar*/
 /* display: flex;
  flex-direction: column;*/
 /* padding: 0;
  margin: 0;
  top: 0;
  left: 0;THESE DO NOT SEEM NECESSARY*/
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.sectionshadow
{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}

#about, #interests, #portfolio, #home
{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  color: black;
  background-color: white;
  color: transparent;
  transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: 50;
}

#typedstuff
{
  font-family: 'Felipa', cursive;
  height: 40px; /*should improve for mobile*/
  font-size: 40px;

}

#home 
{
  color: white;
  background-image: url("../assets/home.png");
}

#home > .row
{
  margin-top: 25%;
}

#about
{
  background-image: url("../assets/about.png");
}

#interests
{
  background-image: url("../assets/interests3.png");
}

.generaltext
{
  font-family: Bilbo;
  font-size: 30px;
  z-index: 90 !important;
}

#about:hover, #interests:hover, #portfolio:hover
{
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
  color: white;
}

.aboutrow
{
  width: 30%;
  margin-right: 30%;/*may need to be modified for mobile*/
  margin-top: 5%;
}


/*
#interests:before {
  
    transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
}

#interests:hover:before {
    position: absolute;
    width: 100%;
    height: 100%;

    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    -webkit-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
    -moz-box-shadow: inset 0 0 0 1000px rgba(0,0,0,.6);
}*/


.interestsrow
{
  width: 50%;
  margin-left: 45%;
  margin-top: 5%;
}

#interest1
{
  width: 50%;
  height: 100%;
  background-image: url("../assets/interests1.png");
  z-index: -1;
}

#interest2
{
  width: 50%;
  height: 100%;
  background-size: cover;
  background-image: url("../assets/interests2.png");
  z-index: -1;
}

#portfolio 
{
  background-image: url("../assets/portfolio.png");
}

.card-panel
{
  display: block;
  width: 100%;
  margin-left: 20%;
}

.card
{
  border-radius: 3%;
  border-color: white;;
  color: white;
  background-color: grey;
}











/*
.navbuttons a:hover:not(.active)
{
  background-color: orange;
  color: white;
  text-decoration: none;
}

.active
{
  background-color: orange;
  color: white;
  text-decoration: none;
}

.navbuttons a:visited
{
  color: white;
  text-decoration: none;
}

.navbuttons a:link
{
  color: white;
  text-decoration: none;
}*/

.FAbuttons
{
  /* width: 50%;centers li within div along with margin: auto */
  display: flex;
  justify-content: center;
  padding: 0px;
  list-style: none;/* makes bullet points disappear*/
  font-size: 235%;
}

.fa, .fab
{
  color: orange;
  padding: 20px;
  width: 61.44px;
  height: 64.5px;
  padding-left: 17px; /*so envelope doesn't get cut off*/
}

.FAbuttons > .inline > a > .fa:hover, .fab:hover /*Makes fa icons on first page change color*/
{
  color: rgb(252, 255, 90);
}































/* Add animations to FA links */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
