*{
  outline: 1px solid red !important;
  box-sizing: border-box;
}

{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body, html
{
  min-height: 100%;/*Was just height 100%, but changed to allow scrolling*/
  height: auto;
}

a, a:hover, a:focus, button
{
  text-decoration: none;
  outline: none;
  color: unset;
}

.sidebar
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding-left: 1%;
  margin: 0;
  list-style: none;
  text-align: center;
  color: orange !important;
  background-color: transparent;
  position: fixed;
  top: 30%;
  bottom: 25%;
  padding-left: 23px;
  
  width: 0;
  height: 0;
  z-index: 99;
  font-size: 35px;
}

.name
{
  padding-left: 10px;
  display: flex;
  flex: 4;
  margin-top: -10px !important;
  font-family: 'Bilbo', cursive;
  font-family: 'Ruthie', cursive;
}

.name > h2
{
  font-size: 50px;
}

#logo
{
  padding-top: 2px;
  padding-left: 2px;
  width: 8%;
  height: 2%;
}

.navlinks
{
  margin-top: 8px;
}

.navlinks i
{
  width: 51px;
}

.navbuttons
{
  flex: 1;
}

.navbuttons a
{
  margin-right: 0px !important;
}

.navbuttons > a > i
{
  display: inline-block;
  box-shadow: inset 0px 0px 10px 3px #111;
  border-radius: 30px;
  padding: .2em .2em;
}

.navbuttons > a
{
  text-decoration: none;
  color: orange;
}

.navbuttons a
{
	border: 2px solid #909090;
	border-radius: 100%;
  transition: all .75s;
  -webkit-transition: all .75s;
} 
.navbuttons a i
{
  align-self: center;
  color: white;
  transition: all .75s;
  -webkit-transition: all .75s;
}

.navbuttons > a > .fa-theater-masks
{
  padding: .2em .1em;
}

.navbuttons a:hover{
  background: #0ff;
}

.navbuttons a:hover i {
  color: #3A3A3A;
}


.container-fluid
{
  position: fixed;/*/////container encompasses whole screen and everything can be centered///////////*/
  overflow-y: scroll;
  padding: 0;
  height: 100%;
  width: 100%;
}

.screen
{
  height: 100vh;
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
}

#typedstuff
{
  font-family: 'Felipa', cursive;
  height: 40px; /*should improve for mobile*/
  font-size: 40px;
}

#homeOverflowContainer
{
  overflow: hidden;
  color: white;
}


#homeBackground
{
  background-image: url("../assets/home3.JPG");
  background-position: 1.5vw -90%;
  transform: scale(1.33);
}

#homeDetails
{
  margin-top: 15%;
  margin-left: 47%;
  margin-right: 23%%;
  height: 50%;
  width: 30%;
  text-align: center;
}

#contactSection
{
  margin: 0;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.faContact
{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  font-size: 30px;
  width: 50%;
}

.faContact > li > a > i
{
  height: 100%;
}

.faContact > li > a > i:hover
{
  text-shadow: 0 0 8px #0ff;
}


#about
{
  background-image: url("../assets/aboutCom.jpeg");
  background-position: 0% 65%;
}

#interests
{
  background-image: url("../assets/interestsCom.jpeg");
}

.generaltext
{
  font-family: Bilbo;
  font-size: 30px;
  z-index: 90 !important;
}

.aboutrow
{
  width: 30%;
  margin-right: 30%;/*may need to be modified for mobile*/
  margin-top: 5%;
}

#portfolio
{
  background:linear-gradient( rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0)100%),url("../assets/portfolioCom.jpeg");
  background-position: 100% 37%;
  background-size: cover;
}

#portfolioOverlay
{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#projectScrollCards
{
  width: 80%;
  height: 60vh;
  margin-left: 10%;
  display: flex;
  justify-content: start;
  overflow: hidden;
}

/*This make and invisible element after the last card to compensate for the lack of margin in the flex*/
#projectScrollCards::after
{
  content: "";
  flex: 0 0 3vw;
  padding: 1vw;
}

.card
{
  height: 20vh;
  width: 20vw;
  background-color: transparent;
  perspective: 1000px;
  flex-shrink: 0;
  margin-top: 20vh;
  margin-left: 3vw;
  margin-right: 4vw;
  transition: margin-top 2s, height 2s;
  border-radius: 15px;
}

.cardInner
{
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 2s, box-shadow 3s, height 2s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

.card:hover .cardInner
{
  transform: rotateX(180deg);
  height: 55vh;
  box-shadow: 0 0 20px 2px #0ff;
}

/*vertically recenters card to account for larger size*/
.card:hover
{
  margin-top: 0;
  height: 55vh;
}

.cardFront, .cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 15px;
}

.cardFront
{
  box-shadow: 0px 0px 5px white;
}

.cardBack
{
  background-color: black;
  color: white;
  transform: rotateX(180deg);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.projectTitle
{
  text-align: center;
  color: white;
}

.currentCard
{
  margin-top: 15vh;
  margin-left: 35%;
  height: 70%;
  width: 30%;
  padding: 10px;
  background-color: #2a4163;
  color: white;
  text-align: center;
  border-radius: 15px;
  box-shadow: inset 0 0 0 4px #58cdd1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.currentCardMedia
{
  width: 100%;
  border-radius: 15px;
}

.cardDescription
{
  margin-top: 1em;
}

.viewCode
{
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  padding: 0;


  border-radius: 15px;
  border: 2px solid #58cdd1;
  /*color: #58afd1;*/
  color: #ffe593;
  -webkit-transition: all .5s 0.3s;
  transition: all .5s 0.3s;
  position: relative;

  display: flex;
  justify-content: center;
  font-size: 1.7rem;
}

.viewCode:hover
{
  color: #0ff;
  box-shadow: 0 0 10px 2px #0ff;
  text-shadow: 0 0 2px #0ff;
}


.viewCode > a
{
  width: 14rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.viewCode > a > i
{
  margin-left: 1rem;
}

#projectScroll
{
  width: 50%;
  margin-left: 25%;
  margin-top: 51px;
  font-size: 51px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 50px;
  list-style-type: none;
  height: 70px;
}

#projectScroll > li:nth-child(2)
{
  text-align: end;
}

#projectScroll a
{
  display: inline-block;
  cursor: pointer;
}

#projectLeftScroll i, #projectRightScroll i
{
  width: 70px;
  height: 70px;
}

#projectLeftScroll i
{
  padding-left: 15px;
}

#projectRightScroll i
{
  padding-right: 15px;
}

.card img
{
  width: 100%;
}

.card > .cardInner > .cardFront
{
  background-position: center;
  background-size: cover;
}

#card1 > .cardInner > .cardFront
{
  background-image: url("../assets/whatsart.png");
}


#card2 > .cardInner > .cardFront
{
  background-image: url("../assets/docshare.png");
}


#card3 > .cardInner > .cardFront
{
  background-image: url("../assets/smop.png");
}

#card4 > .cardInner > .cardFront
{
  background-image: url("../assets/sportaneous.png");
}

#card5 > .cardInner > .cardFront
{
  background-image: url("../assets/slack.png");
}

#card6 > .cardInner > .cardFront
{
  background-image: url("../assets/coronavirus.png");
}

















/* Add animations to FA links */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
