/**
{
  outline: 1px solid red !important;
}

*
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}*/

.name
{
  margin-top: -7px;
  margin-left: -27px;
  float: left;
  color: orange;
}

.row
{
  display: flex;
  height = 100%;
}

.left
{
  background-color: #2C3539;/*Fix the side #25383C background*/
  flex: 1;
  position: absolute;
  float: left;
}

.right
{
  background-color: #2C3539;/*Fix the side #4d1a00 background*/
  flex: 1;
  position: absolute;
  float: right;
}

ul
{ background-color: maroon;
  list-style-type: none;
  overflow: hidden; 
  position: fixed;
  width: 100%;
  opacity: 1;
  z-index: 99; /*Makes navbar opaque*/
}

li
{
  float: right;
  color: white;
  text-decoration: none;
}

li a
{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active)
{
  background-color: orange;
  color: white;
  text-decoration: none;
}

.active
{
  background-color: orange;
  color: white;
  text-decoration: none;
}

li a:visited
{
  color: white;
  text-decoration: none;
}

li a:link
{
  color: white;
  text-decoration: none;
}


.about
{
  position: relative;
  background-color: #6D7B8D;
 /* width: 70%;*/
}

.abouttext
{
  color: white;
  opacity: 1;
}

.imgme
{
  border-radius: 100%;
  margin-top: -30px;
}

.portfolio
{
  position: relative;
  background-color: grey;
 /* width: 70%;*/
}
